/* bg styles */
main{
  background-color: #f0f8ff;
  padding-bottom: 20px;
}


/* font section */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}
.font{
  font-weight: bolder;
}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav styles */

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
} 
nav ul li {
    list-style: none;
    margin-right: 100px;
    margin-top: 80px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    
}

/* shared style */
.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: none;
    padding: 25px 25px;
    border-radius: 10px;
}

/* banner section */

.banner-caption span {
  display: inline-block;
}

.banner-content{
  text-align: center;
}
.banner-caption{
  margin-top: 270px;
  font-size: 55px;
}

/* header section */
.hero-header{
  background-image: url('../images/Assets/Hero-bg.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
  height: 800px;}

   .btn-extra{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 25px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
  }

  /* action stylels */
  .action-content{
    display: flex;
    justify-content: space-between;
    padding: 116px 350px;
  }

.action-text{
   border-radius: 10px;
  align-items: center;
}

  
.action{
  padding: 50px 150px;
}
.btn-preview{
  background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 10px;
}
.action-image {

  width: 300px;
  border-radius: 20px; 
}
/*  Productive Users Section */
.p-users-num div h1{ 
  color: #4E47FF;

}
.Productive-Users-Section h3{
  font-size: 38px;
}

.p-users-num {
  display: flex;
  justify-content: center;
  gap: 200px;
  }



.Productive-Users-Section{
  align-items: center;
  text-align: center;
  background-color: rgba(78, 71, 255, 0.1) ;
  padding: 20px 0px;
  border-radius: 20px;
  margin-top: 111px;
  }

/* Get In Touch Section */

 .level-font{
  font-size: 22px;
 }
 .level-font input {
  display: block;
  font-size: 20px;
 }
 .level-font label {
  display: block;
 }
 .level-font button {
  display: block;
  font-size: 20px;
  padding: 10px 10px;
    border-radius: 10px;
    margin-top: 10px;

 }
 .gits-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:150px 400px 150px ;
  

 }
 .touch-text{
  font-size: 50px;
 }
 
  /* hover styles */
  
  button {
  background-color: blue;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
  color: black;
}

/* footer styles */
.footer-logo{
  font-size:80px ;
  font-weight: 900;
  color: #4E47FF;
}
.footer-icon{
  display: flex;
  gap: 20px;
  justify-content: center;
}
.footer-section{
  text-align: center;
  align-items: center;
  margin: 150px ;
}
.footer-icon p a{
  text-decoration: none;
  color: black;
}